
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(149, 149, 149, 0.835);
    max-width:300px;
    height:230px;
    margin:20px;
    border-radius:10px;
    box-sizing: content-box;
    transition: 0.2s;
    transition: all 250ms;
}
    .card:hover{
        transform: scale(1.1);
    }

.cartas{
    display: flex;
    flex-direction:column;
}

    .img {
        width:100%;
        height:250px;
        border-radius:15px 15px 0px 0px;
    }

    .name{
        margin:5px 0px 0px 0px;
        text-decoration: none;
    }

        .name:hover {
            color:black;
        }

    .continent{
        margin:5px 0px 40px 0px;
        color: white;
    }