.table{
    width:500px;
    margin-top: 28px;
    max-height: fit-content;
    background-color: gray;
    border-collapse: collapse;
    border-radius: 5px 5px 0px 0px;
}


.tr{
    height:10px;
}

.td{
    border:1px solid black;
    font-weight: bold;
}