.content{
    display: flex;
    align-items:center;
    justify-content: center;
}

.nav{
    margin-bottom: 50px;
}

.padre{
    display: flex;
    flex-direction:row;
    justify-content:center;
    box-shadow: 8px 7px 11px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 8px 7px 11px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 8px 7px 11px 0px rgba(0,0,0,0.7);
    background-color:rgba(149, 149, 149, 0.950);
    margin: auto;
    height: fit-content;
    border-radius:5px;
    width: fit-content;
    padding: 20px 20px;
}

    .hijo1{
        margin: 25px;
    }


.flag{
    width: 270px;
    height: 160px;
    border-radius: 2px;
    margin-bottom: 25px;
}

.p{
    margin-top: 0.1px;
}

.details{
    margin-top:5px;
    font: 1em "Times New Roman";
    font-weight:bold;
    font-size: 27px;
    display: flex;
    flex-direction:column;
    align-items:flex-start;
}

